.counttoblock-counter {
  text-align: center;
}

.counttoblock-counter .number {
  font-size: 24pt;
}

.counttoblock-counter .subject {
  font-size: 14pt;
  opacity: 0;
  bottom: -20px;
  position: relative;
}
