<div class="counttoblock-counter">
  <div class="number" data-countfrom='{{ count_from }}' data-countto='{{ count_to }}' data-interval='{{ interval }}' data-duration='{{ duration }}'>{{ count_from }}</div>
  <div class="subject">{{ subject }}</div>
</div>